html, body , *{
  margin: 0;
  padding: 0;
  max-width: 100vw;

}

.App {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

nav { 
  background-color: #64ffda;
  min-width: 100vw;
}

a {
  padding: 0 !important;
}

.nav-wrapper {
  width: 100%;
}

.container {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
.loggedIn {
  display: flex;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
  margin: 0 35px 0 15px
}
.notLogged {
  font-weight: bolder;
}
a{
  text-decoration: none;
  color: #8d6e63 !important;
}

a:focus {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  background-color: none;
  outline: none;
}

.login-page {
  margin-top: 40px;
  margin-left: 30px;
}
.signup-page {
  margin-top: 30px;
  margin-left: 30px;
}

.btn {
  margin-top: 15px;
}
